@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


html {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 410px) {
  html {zoom: 95%;}
}

@media (max-width: 390px) {
  html {zoom: 90%;}
}

@media (max-width: 370px) {
  html {zoom: 85%;}
}



body {
  color: #34495e;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

a {
  color: #34495e;
  text-decoration: none;
}

.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

}

.content {
  margin-left: 10px;
  margin-right: 10px;
}



.title {

  font-size: 2.5rem;
  letter-spacing: -2px;
  
  /*
  font-family: 'Titillium Web', sans-serif;*/
  
  font-family: 'Merriweather Sans', sans-serif; 
  
  font-weight: 700;
  font-style: italic;
}

.description {
  font-size: 1.1rem;
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

